<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>通知</title>
        {$Think.const.ADMIN_META}{$Think.const.ADMIN_CSS}{$Think.const.ADMIN_COMPATIBLE}{$Think.const.ADMIN_JS}{$Assigndata}
        <link rel="stylesheet" href="/Public/Plugin/bootstrap/css/bootstrap-treeview.css">
        <link rel="stylesheet" href="/Public/admin/css/common.css">
        <script type="text/javascript" src="/Public/Plugin/bootstrap/js/bootstrap-treeview.js"></script>
        <script type="text/javascript" src="/Public/Plugin/layer-v3.0.2/layer.js"></script>
        <script type="text/javascript" src="/Public/admin/js/common.js"></script>
        <script type="text/javascript" src="/Public/admin/js/apptlearn/apptlearnInfo.js"></script>
    </head>
    <body>
        <div class="option_search" id="cxk">
            <form method="get" action="__CONTROLLER__/showList" class="form-horizontal" id="search-form" style="margin-top: 20px;">
                <div class="form-group">
                    <div class="col-sm-3" style="min-width: 200px;">
                        <button type="button" class="btn btn-success addApptlearnInfo" id="addInfo-btn" onclick="javascript:void(window.location.href = '__CONTROLLER__/add')" style="height: 34px;">
                            <span class="glyphicon glyphicon-plus"></span> 新增
                        </button>
                        <button type="button" class="btn btn-danger delApptlearnInfo" id="delArrayInfo-btn" style="height: 34px;">
                            <span class="glyphicon glyphicon-trash"></span> 批量删除
                        </button>
                    </div>
                    <div class="col-sm-5"></div>
                    <div class="col-sm-3" style="text-align: right;">
                        <div class='input-group'>
                            <input type="text" class="form-control" id="title" name="title" value="{$searchInfo.title}" placeholder="请输入标题">
                            <span class='input-group-btn'>
                                <button type="submit" class="btn btn-success" id="searchInfo-btn" style="height: 34px;">
                                    <span class="glyphicon glyphicon-search"></span> 搜索
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="table_content" id="cxk">
            <table class="table table-hover">
                <tr>
                    <th>全选</th>
                    <th><input type="checkbox" name="allChecked" onclick="setAllChecked(this);"/></th>
                    <th>培训标题</th>
                    <th>培训时间</th>
                    <th>培训讲师</th>
                    <th>预约人数</th>
                    <th>操作</th>
                </tr>
                <notempty name="infoList">
                    <foreach name="infoList" item="v" key="k">
                        <tr class="tr">
                            <td>{:(I('get.p'))?((I('get.p')-1)*C('PAGE_SIZE')+$k+1):($k+1)}</td>
                            <td>
                        <if condition="$v.address_id eq $address_id||$address_id eq 0">
                            <input type="checkbox" name="rowChecked" value="{$v.id}"/>
                            <else/><input type="checkbox" name="" value="" disabled="disabled"/>
                        </if>
                        </td>
                        <td>
                        <if condition="$v.is_publish eq 0">
                            <span class="label label-default" style="padding: 4px">未发布</span>
                            <else/>
                            <span class="label label-success" style="padding: 4px">已发布</span>
                        </if>
                        <a href="__CONTROLLER__/apptlearnDetail/id/{$v.id}">{$v.title}</a>

                        </td>
                        <td>{$v.start_time}</td>
                        <td>{$v.teacher}</td>
                        <td>
                        <if condition="$v.appt_num eq 0">
                            <button class="btn btn-default del-btn lookOrderInfo " disabled="disabled">
                                <span class="glyphicon glyphicon-eye-open"></span> 预约:{$v.appt_num}
                            </button>
                            <else/>
                            <button class="btn btn-default del-btn lookOrderInfo" onclick="lookOrderLayer({$v.id})">
                                <span class="glyphicon glyphicon-eye-open"></span> 预约:{$v.appt_num}
                            </button>
                        </if>
                        </td>
                        <td>
                            <div>

                                <button class="btn btn-default edit-btn editApptlearnInfo" onclick="javascript:void(window.location.href = '__CONTROLLER__/edit/id/{$v.id}')">
                                    <span class="glyphicon glyphicon-edit"></span> 编辑
                                </button>

                                <if condition="$v.is_publish eq 0">
                                    <button class="btn btn-default pubApptlearnInfo" onclick="pubInfoLayer({$v.id})">
                                        <span class="glyphicon glyphicon-bullhorn"></span> 发布
                                    </button>
                                    <else/>
                                    <button class="btn btn-default pubApptlearnInfo" disabled="disabled">
                                        <span class="glyphicon glyphicon-bullhorn"></span> 发布
                                    </button>
                                </if>

                                <!--<button class="btn btn-default del-btn" onclick="delInfoLayer({$v.id})">-->
                                <!--<span class="glyphicon glyphicon-trash"></span> 删除-->
                                <!--</button>-->

                            </div>
                        </td>
                        </tr>
                    </foreach>
                </notempty>
                <empty name="infoList">
                    <tr><td colspan="8">暂无数据</td></tr>
                </empty>
            </table>
            <div style="text-align: center;">{$page}</div>
        </div>
    </body>
</html>
<script src="__PUBLIC__/admin/plugin/frameworks/Tour/tour.js"></script>
<link rel="stylesheet" href="__PUBLIC__/admin/plugin/frameworks/Tour/tour-default.css">
<script src="__PUBLIC__/admin/js/yd/yd-apptlearn.js"></script>