<li id="sogou_vr_11002301_box_0" d="oIWsFt2C55dZIyBP5Jsa12ziAqm4" style="z-index: 0;">
    <div class="gzh-box2">
        <div class="img-box">
            <a target="_blank" uigs="account_image_0" href="http://mp.weixin.qq.com/profile?src=3&amp;timestamp=1537843275&amp;ver=1&amp;signature=deaTen*Ij5TSra50eNkj1p5Q-DDLpdtbPhrD3IFjwMFbrBZn2sAPwjOL9Qd8ITollNtUxTpxCbB5RpovQNrB1w=="><span></span>
                <img src="//img01.sogoucdn.com/app/a/100520090/oIWsFt2C55dZIyBP5Jsa12ziAqm4" onload="resizeImage(this, 58, 58)" onerror="errorHeadImage(this)" style="width: 58px; height: auto; margin-top: 0px;">
            </a>
        </div>
        <div class="txt-box">
            <p class="tit">
                <a target="_blank" uigs="account_name_0" href="http://mp.weixin.qq.com/profile?src=3&amp;timestamp=1537843275&amp;ver=1&amp;signature=deaTen*Ij5TSra50eNkj1p5Q-DDLpdtbPhrD3IFjwMFbrBZn2sAPwjOL9Qd8ITollNtUxTpxCbB5RpovQNrB1w=="><em><!--red_beg-->通州<!--red_end--></em>在线</a><i></i>
            </p>
            <p class="info">微信号：<label name="em_weixinhao">cntongzhou</label>
                <span class="line-s"></span>月发文&nbsp;12&nbsp;篇</p>
        </div>
        <div class="ew-pop">
            <a class="code" href="javascript:void(0)"><img height="24" width="24" src="/new/pc/images/ico_ewm.png"></a><span style="display: none;" class="pop"><i></i>微信扫一扫关注<br>
                <img height="104" width="104" src="http://mp.weixin.qq.com/rr?src=3&amp;timestamp=1537843275&amp;ver=1&amp;signature=aGUvoI40AUx*-lhUtWtinX51b549whSOAPlLemXuIc4Um0dK3iTcWQt4RbJS2ghV2rWfPSIm3rfiV7qCbdvVlRNAZ93L3-Ld-uvROcMPoG0=" data-id="oIWsFt2C55dZIyBP5Jsa12ziAqm4" onerror="qrcodeShowError('http://mp.weixin.qq.com/rr?src=3&amp;timestamp=1537843275&amp;ver=1&amp;signature=aGUvoI40AUx*-lhUtWtinX51b549whSOAPlLemXuIc4Um0dK3iTcWQt4RbJS2ghV2rWfPSIm3rfiV7qCbdvVlRNAZ93L3-Ld-uvROcMPoG0=',4,'oIWsFt2C55dZIyBP5Jsa12ziAqm4')"><img height="32" width="32" class="shot-img" src="//img01.sogoucdn.com/app/a/100520090/oIWsFt2C55dZIyBP5Jsa12ziAqm4" onerror="errorHeadImage(this)"></span>
        </div>
    </div>
    <dl>
        <dt>功能介绍：</dt>
        <dd><em><!--red_beg-->通州<!--red_end--></em>新鲜资讯</dd>
    </dl>
    <dl>
        <dt>
            <script>document.write(authname('2'))</script>微信认证：</dt>
        <dd>北京一鸣天下信息技术有限公司</dd>
    </dl>
</li> 